
.article-content {
  overflow: auto;
  margin: 1em;
  font-family: sans-serif;
}

.article-content img {
  float: right;
  width: 20em;
  margin-left: 1em;
  margin-bottom: 1em;
}

.article-content ul {
  list-style-type: none;
  overflow: hidden;
}

.article-content a {
  text-decoration: none;
}

.article-content ol {
  padding-left: 3em;
  overflow: hidden;
  margin: 1em;
}

